.button {
    height: 40px;
    border-radius: 4px;
    color: #ffffff;
    padding-left: 16px;
    margin-right: 16px;
    padding-right: 16px;
    text-align: center;
    background-color: #019160;
    line-height: 40px;
    box-sizing: unset;
    display: inline-block;
    cursor: pointer;
    min-width: 100px;
}

.button:hover {
    background-color: #2FBE8E;
}

.button:active {
    background-color: #01B075;
}