.content {
  display: inline;
  position: absolute;
  top: 48px;
  left: 225px;
  width: calc(100vw - 225px);
  height: calc(100vh - 48px);
  padding: 16px 16px 0 16px;
  background-color: #E9EBEE;
  color: #454545;
}
.content .nav {
  display: flex;
  margin-top: 16px;
  margin-bottom: 16px;
  width: 100%;
}
.content .nav .title {
  color: #000000;
  font-size: 24px;
}
.content .nav .top-button {
  display: flex;
  position: absolute;
  right: 0;
}
.content .nav .button {
  display: flex;
  align-items: center;
  /* position: absolute;
  right: 0; */
}
.content .nav .button .icon-button {
  margin: 0 8px 0 0px;
  background-image: url(../../icon/add.png);
  width: 16px;
  height: 16px;
  background-size: contain;
  background-repeat: no-repeat;
}
.content .nav .button .text {
  padding-right: 16px;
}
.content .nav .delete-button {
  display: none;
  background-color: #f65464;
}
.content .nav .delete-button:hover {
  background-color: #f5263a;
}
.content .nav .delete-button .icon-delete {
  width: 32px;
  height: 40px;
  color: #ffffff;
}
.content .search {
  position: relative;
  display: flex;
  margin-top: 16px;
  margin-bottom: 16px;
}
.content .search .combo-box {
  width: 200px;
}
.content .search .textbox-default{
  background-color: #ffffff;
}

.content .search .textbox-default .refresh {
  align-items: center;
  width: 24px;
  height: 24px;
  background-image: url(../../icon/refresh.png);
  background-repeat: no-repeat;
  background-size: contain;
  align-items: center;
  
}
.content .search .textbox-default:nth-child(4) {
  position: absolute;
  right: 0;
  top: 0px;
}
.content .table {
  height: calc(100vh - 238px);
  width: 100%;
  overflow: auto;
  background-color: #ffffff;
}

.content .table table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  position: relative;
}
.content .table table thead {
  z-index: 3;
  background-color: #ffffff;
  border-bottom: 1px solid #bbbbbb;
}
.content .table table thead th {
  border-bottom: 1px solid #bbbbbb;
  z-index: 3;
  background: #ffffff;
  padding-left: 10px;
  text-align: left;
  height: 48px;
  position: sticky;
  top: 0;
  left: 0;
}
.content .table table thead th:nth-child(1) {
  min-width: 40px;
}
.content .table table thead th:nth-child(5) {
  padding-right: 8px;
  text-align: center;
}
.content .table table thead th:nth-child(10) {
  padding-right: 8px;
  text-align: end;
}
.content .table table tbody {
  overflow: auto;
  height: 100%;
}
.content .table table tr {
  cursor: pointer;
  
}
.content .table table tr td{
  border-bottom: 1px solid #bbbbbb;
}

.content .table table tbody tr {
  background-color: #ffffff;
}
.content .table table tbody tr:hover {
  background-color: #e5e5e5;
}
.content .table table tbody tr td {
  padding-left: 10px;
  height: 48px;
  text-align: left;
}
.content .table table tbody tr td:nth-child(5) {
  min-width: 40px;
}
.content .table table tbody tr td:nth-child(5) {
  padding-right: 8px;
  text-align: center;
}
.content .table table tbody tr td:nth-child(10) {
  padding-right: 8px;
  text-align: end;
}
.content .footer {
  position: absolute;
  background-color: #E9EBEE;
  bottom: 0;
  right: 0;
  padding: 0 16px;
  display: flex;
  height: 56px;
  width: 100%;
  justify-content: space-between;
}
.content .footer .number {
  height: 56px;
  display: flex;
  align-items: center;
}
.content .footer .page {
  display: flex;
}

.content .footer .page .first-page {
  margin: 8px;
  width: 40px;
  height: 40px;
  background-position: center;
  background-image: url(../../icon/btn-firstpage.svg);
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 4px;
}
.content .footer .page .prev-page {
  margin: 8px;
  width: 40px;
  height: 40px;
  background-position: center;
  background-image: url(../../icon/btn-prev-page.svg);
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 4px;
}
.content .footer .page .page-number {
  display: flex;
  margin: 8px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  color: #000000;
  border: 1px solid #bbbbbb;
  justify-content: space-evenly;
  align-items: center;
}
.content .footer .page .next-page {
  margin: 8px;
  width: 40px;
  height: 40px;
  background-position: center;
  background-image: url(../../icon/btn-next-page.svg);
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 4px;
}
.content .footer .page .last-page {
  margin: 8px;
  width: 40px;
  height: 40px;
  background-position: center;
  background-image: url(../../icon/btn-lastpage.svg);
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 4px;
}
.content .footer .page div:hover {
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}
.content .footer .page .page-number:active {
  background-color: #019160;
  color: #ffffff;
  border: none;
}
/* page active default  */
.content .footer .page .active {
  background-color: #019160;
  color: #ffffff;
  border: none;
}
.content .footer .page .active:hover {
  background-color: #019160;
  color: #ffffff;
  border: none;
}
.content .footer .acount {
  height: 56px;
  display: flex;
  align-items: center;
}
